.DS_Store
/node_modules/
.claude.md

# React Router
/.react-router/
/build/

# Graffle
/graffle/
/app/lib/**/__generated__/
/__generated__/
.env

# Gel
/app/core/gel/__generated__/
gel.local.toml

# sandbox (user scratch space)
/sandbox/
!/sandbox/.templates/

## Panda
styled-system
styled-system-studio
