body {
  margin: 0;
}

.radix-themes {
  --default-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --heading-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --code-font-family: 'Courier New', monospace;
}